.container {
    max-width: 99.8vw;
    height: 100%;
    margin: 1px auto;
    background-color: white;
    z-index: -100;
}
.header{
    height: 7rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
}
.sidebar{
    display: flex;
    border-right: 1px solid black;
    flex: 0 0 15%;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.hotel-view{
    flex: 1;
}