@import "mixins";

.heading {
  font-size: 2.5rem;
  display: block;
}
.products {
  &__market {
    grid-column: full-start / full-end;
    grid-template-rows: repeat(3, min-content);
    margin: 2rem;
    @include respond(tab-port) { // width < 900?
      grid-column: 1 / -1;
  }
}
  &__items {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include respond(tab-port) { // width < 900?
      grid-template-columns: [full-start] repeat(2, 1fr) [full-end];
      grid-column: 1 / -1;
      
  }
    @include respond(phone) {
      grid-template-columns: min-content;
      grid-row: product-start / product-end;
    }
  }
}

.cart__products {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / span 3;

  gap: 3rem;
  background-color: var(--red);
  border-radius: 2rem;
  padding: 3rem;
  margin-left: 1.5rem;
}
